@model IEnumerable<BrewApp.DTOs.EmployeeDTO>
@{
    ViewBag.Title = "Load";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .AlignCenter{
        text-align: center !important;
    }
    .AlignLeft{
        text-align: left !important;
    }
    .AlignRight{
        text-align: right !important;
    }

    .ColWidthL
    {
        width:200px !important;
    }
    .ColWidthM
    {
        width:100px !important;
    }
    .ColWidthS
    {
        width:20px !important;
    }
    .btnUpdate
    {
        width:130px;
        margin-bottom:20px;
        margin-top:20px;
    }
    #btnUpdate {
      cursor: pointer;
      -webkit-appearance: button;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();

    <h2>Employee Master</h2>

    <th class="AlignCenter">@Html.ActionLink("Add Employee", "UpdateOrAdd", new { id = "" }, new { @class = "btn btnUpdate" })</th>

    <table id="tblEmployees" class="table" style="width: max-content;">
        <thead>
            <tr>
                <th class="ColWidthS"></th>
                <th class="ColWidthS"></th>
                <th class="AlignCenter ColWidthS">Employee ID</th>
                <th class="AlignCenter ColWidthL">Name</th>
                <th class="AlignCenter ColWidthL">Father's Name</th>
                <th class="AlignCenter ColWidthL">Mother's Name</th>
                <th class="AlignCenter ColWidthM">Phone No</th>
                <th class="AlignCenter ColWidthL">Email</th>
                <th class="AlignCenter ColWidthM">Salary</th>
                <th class="AlignCenter ColWidthM">PAN</th>
                <th class="AlignCenter ColWidthL">Current Address</th>
                <th class="AlignCenter ColWidthL">Permanent Address</th>
                @*<th class="AlignCenter ColWidthM">Date of Birth</th>*@
            </tr>
        </thead>
        <tbody>
            @*@foreach (var item in Model)
                {
                    <tr>
                        <th class="AlignCenter">@Html.ActionLink("Update", "UpdateOrAdd", new { id = item.EmployeeID })</th>
                        <td class="AlignCenter">@item.EmployeeID</td>
                        <td class="AlignLeft">@item.EmployeeName</td>
                        <td class="AlignLeft">@item.FatherName</td>
                        <td class="AlignLeft">@item.MotherName</td>
                        <td class="AlignLeft">@item.MobNo</td>
                        <td class="AlignLeft">@item.Email</td>
                        <td class="AlignRight">@item.Salary</td>
                        <td class="AlignLeft">@item.PAN</td>
                        <td class="AlignLeft">@item.CurrentAddress</td>
                        <td class="AlignLeft">@item.PermanentAddress</td>
                        <td class="AlignCenter">@item.DOB.ToString("dd-MMM-yyyy").Replace("01-Jan-1900", "-")</td>
                    </tr>
                }*@
        </tbody>
    </table>

}

@section scripts{
<script>
    $(document).ready(function () {


        $("#tblEmployees").DataTable({
            ajax: {
                url: "/BrewApp/api/EmployeesAPI",
                dataSrc: ""
            },
            columns: [
                {
                    data: "employeeID",
                    render: function(data, type, employee){
                        return "<a href='/BrewApp/Employees/UpdateOrAdd/" + data + "'>Update</a> ";
                    }
                },
                {
                    data: "employeeID",
                    render: function(data, type, employee){
                        return "<button class='btn-link js-delete' data-employee-id= '" + data + "'>Delete</button> ";
                    }
                },
                {data: "employeeID"},
                {data: "employeeName"},
                {data: "fatherName"},
                {data: "motherName"},
                {data: "mobNo"},
                {data: "email"},
                {data: "salary"},
                {data: "pan"},
                {data: "currentAddress"},
                { data: "permanentAddress" }
                //,{data: "dob"}
            ]


        });
        
        $("#tblEmployees").on("click", ".js-delete", function () {

            if (confirm("Are you sure you want to delete this record?"))
            {
                console.log("awesome");
            
                $.ajax({
                    url: "/BreApp/api/EmployeeAPI/" + $(this).attr("data-employee-id") + "",
                    method: "DELETE",
                    success: function () {
                        console.log("Done");
                    }
                })
            }
        });


    });
</script>
}
  



